body {
  margin: 0;
}

main {
  display: block;
}

.search-button {
  margin: 0.5rem;
  width: 100%;
  background-color: #5098e6;
  color: #d9e9e8;
}

.weather-search {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem !important;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

#form-heading {
  margin: 0.5rem;
}

.weather-hr {
  margin-left: 0.5rem;
  width: 100%;
}

.weather-header {
  background: #20084a;
  background: -webkit-linear-gradient(right, #20084a, #3463bc);
  background: -moz-linear-gradient(right, #20084a, #3463bc);
  background: linear-gradient(to left, #20084a, #3463bc);
}
